/**
 * @file
 * Subtheme specific CSS.
 */
.header a[title="Home"] img {
  width: 75px;
}
header.header #navbar-main .navbar-brand {
   margin-left: 25px;
}
body.path-frontpage .block-page-title-block {
  display: none;
}
body.path-frontpage main.main-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#header{
  background-color: #9BBBBF;
  display: flex;
  justify-content: center;
}
#navbar-top{
  display: none;
}
#navbar-main{
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
#block-mainmenu{
  width: 550px;
}
#block-shoppingcartpopup{
  width: 72px;
}
#block-mainmenu ul.nav{
  justify-content: center;
}
#block-mainmenu ul.nav li{
  padding: 10px 20px;
}
#block-mainmenu ul.nav li a{
  color: #fff;
  padding: 0px;
  text-decoration: underline;
}
#block-mainmenu ul.nav li a:active, #block-mainmenu ul.nav li a:hover{
  border-bottom: #fff;
}
.top-picks-for-you-section {
  padding: 80px 20px;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}
ul.top-pick-for-you-slider {
  padding-left: 0;
}
.top-picks-for-you-section h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 38px;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider .slick-slide {
  border: 1px solid #eee;
  margin-left: 10px;
  margin-right: 10px;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider .slick-slide li {
  text-align: center;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider .views-field-title a {
  color: #555a60;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider .views-field-field-images {
  height: 222px;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider .views-field-field-images .field-content {
  padding: 0 15px;
  height: 222px;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider li:hover .views-field-field-images {
  background-color: rgb(155 187 191 / 50%);
  
}
.view-top-picks-for-you ul button{
  background-color: cornflowerblue;
  width: 60px;
  height: 36px;
  border-radius: 0px 10px 0px 20px;
  z-index: 1;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider .views-field-price__number {
  font-size: 18px;
  color: #9BBBC1!important;
  font-weight: 600;
}
.top-picks-for-you-section .view-top-picks-for-you ul.top-pick-for-you-slider .views-field-variations-target-id {
  visibility: hidden;
}
.top-picks-for-you-section .slick-slide img {
  display: unset;
}
.front-categoies-section {
  padding-top: 80px;
}
.front-categoies-section .view-front-categoies-views .view-content {
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   margin: auto;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row {
  width: 25%;
  position: relative;
}

.testimonials-front-view-section {
  background-color: #ECF1F4;
  padding: 97px;
}
.front-page-services-section {
  padding-top: 83px;
  padding-bottom: 77px;
  width: 80%;
  margin: auto;
}
.front-page-services-section .field--name-field-ser {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.front-page-services-section .field--name-field-ser > .field__item {
  width: 30%;
}
.front-page-services-section .field--name-field-ser > .field__item .field--name-field-logo img {
  max-width: 100%;
  width: 60px;
  height: 60px; 
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  background: cornflowerblue !important;
}
.view-testimonials-front-view .slick-next .view-top-picks-for-you .slick-next{
  right: 0;
}
.view-testimonials-front-view .slick-prev .view-top-picks-for-you .slick-prev{
  left: 0;
}
#block-frontmainbanner .field--name-body img {
  max-width: 100%;
}
.front-belts-icons-banner {
  padding: 10px;
}
.front-belts-icons-banner .field--name-body {
  text-align: center;
}
.front-belts-icons-banner .field--name-body img {
  max-width: 100%;
  margin: 0 auto;
}
.view-blogs-homepage {
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}
.site-footer{
  background-color: #555a60;
}
.site-footer .site-footer__top.clearfix{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1150px;
  padding: 70px 32px 0 32px;
}
.site-footer .block{
  margin: 0;
  border: 0;
}
.site-footer__top h2{
  border: 0;
}
.menu--quick-links .nav{
  flex-direction: column;
  padding-top: 6px;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row .views-field-name{
  display: none;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row:hover>.views-field-name {
  display: block;
  position: absolute;
  z-index: 999999;
  left: 0;
  right: 0;
  text-align: center;
  /* top: 39%; */
}
/* .front-categoies-section .view-front-categoies-views .view-content .views-row::after{
  opacity: 1;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row:hover::after {
  content: '';
  width: 91%;
  height: 100%;
  background: #9bbbbf;
  position: absolute;
  z-index: 99999;
  top: 0px;
  transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), visibility 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), visibility 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
} */
.front-categoies-section .view-front-categoies-views .view-content .views-row .views-field-name a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row .image-style-medium {
  width: 100%;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row{
  opacity: 1;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row:hover{
  transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), visibility 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/*  */


.front-categoies-section .view-front-categoies-views .view-content .views-row .views-field-name a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  background: blue;
  width: 92%;
  height: 220px;
  display: block;
  left: 0;
  right: 0;
  position: relative;
  margin: 0 auto;
  top: 0px;
  opacity: 1;
}
.site-footer__top .region:first-child img{
  width: 94px;
  height: 94px;
}
.site-footer .site-footer__top.clearfix h2,
.site-footer .site-footer__top.clearfix h3{
  font-size: 23px;
  color: #fff !important;
}
.site-footer .block > .block-quicklinks-menu{
  text-transform: capitalize;
}
#block-quicklinks-menu {
  padding-top: 10px;
}
.site-footer .menu--quick-links .nav a {
  color: #fff;
  font-size: 15px;
}
.region-footer-third p {
  font-size: 15px;
  color: rgb(255 255 255 / 70%);
}
.view-footer-products-view .views-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px !important;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(0deg 0% 94% / 17%);
}
.view-footer-products-view .views-row img{
  width: 60px;
  height: 60px;
  margin-bottom: 7px;
  border-radius: 100px !important;
  padding: 5px;
  border: 3px solid rgb(255 255 255 / 7%);
  transition: 0.2s ease;
}
.view-footer-products-view .views-row img:hover{
  padding: 0px;
  border: 0;
}
.view-footer-products-view .views-row a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.view-footer-products-view {
  margin-top: 20px;
}
.view-footer-products-view .views-row .views-field-title {
  padding-top: 10px;
}
.site-footer .container-fluid {
  padding: 0;
  overflow: hidden;
}
.region-footer-fifth {
  width: 81%;
  margin: 0 auto;
  padding-left: 4px;
}
.view-blogs-homepage .row {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.view-blogs-homepage .row .views-row {
  flex-basis: 31%;
}
.latest-initiatives-data .blogimage{
  width: 100%;
  overflow: hidden;
}
.latest-initiatives-data .blogimage img{
  width: 100%;
  height: 176px;
  object-fit: cover;
  transform: scale(1);
  will-change: transform;
  transition: 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.latest-initiatives-data .blogimage img:hover{
  transform: scale(1.2);
  will-change: transform;
  transition: 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.latest-initiatives-data .tagdate {
  display: flex;
  justify-content: space-between;
  padding: 26px 10px 17px 10px;
  border-bottom: 1px solid #f6f6f6;
}
.latest-initiatives-data .tagdate a {
  color: rgb(85 90 96 / 56%);
  font-size: 14px;
  text-decoration: none;
}
.latest-initiatives-data .tagdate a:hover{
  color: rgb(85 90 96 / 56%);
}
.latest-initiatives-data .tagdate .datetime{
  color: rgb(85 90 96 / 56%);
}
.latest-initiatives-data .titlebody a {
  font-size: 20px;
  color: #555a60;
  text-decoration: none;
}
.latest-initiatives-data .titlebody a:hover{
  color: #555a60;
}
.latest-initiatives-data .body p {
  color: rgb(85 90 96 / 70%);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}
.latest-initiatives-data .Link.to.Content a{
  background: #9bbbbf;
  color: #ffffff;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 12px 35px;
}
.latest-initiatives-data .titlebody {
  padding-bottom: 15px;
}
.latest-initiatives-data .titlebody .title {
  padding-bottom: 10px;
}
.view-blogs-homepage .view-header h3{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .075em;
  margin-bottom: 1rem;
  display: inline !important;
  background-color: #9bbbbf;
  padding: 2px 4px 3px 6px;
  border-radius: 4px;
  color: #fff !important;
}
.view-blogs-homepage .view-header{
  text-align: center;
  padding-bottom: 47px;
}
.view-blogs-homepage .view-header h2{
  color: #555A60;
}
.latest-initiatives-data .titlebody .body {
  height: 100px;
  overflow: hidden;
}
.view-testimonials-front-view ul{
  width: 65%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border-style: none;
  padding: 15px 50px 53px 50px;
}
.testimonials-front-slider.slick-initialized.slick-slider li .views-field-field-author-image {
  float: left;
  width: 20%;
  padding-left: 35%;
}
.testimonials-front-slider.slick-initialized.slick-slider li .views-field-field-author-name {
  width: 85%;
}
.testimonials-front-slider.slick-initialized.slick-slider li .views-field-field-author-name .field-content{
  font-weight: 500;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.6;
  padding-top: 20px;
}