/**
 * @file
 * Subtheme specific CSS.
 */
.header a[title="Home"] img {
  width: 75px;
}
header.header #navbar-main .navbar-brand {
   margin-left: 25px;
}
body.path-frontpage .block-page-title-block {
  display: none;
}
body.path-frontpage main.main-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.top-picks-for-you-section {
  padding: 80px 20px;
  width: 80%;
  margin: 0 auto;
}
ul.top-pick-for-you-slider {
  padding-left: 0;
}
.top-picks-for-you-section h2 {
  text-align: center;
}
.front-categoies-section {
  padding-top: 80px;
}
.front-categoies-section .view-front-categoies-views .view-content {
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   margin: auto;
}
.front-categoies-section .view-front-categoies-views .view-content .views-row {
  width: 25%;
}

.testimonials-front-view-section {
  background-color: #ECF1F4;
  padding: 97px;
}
.front-page-services-section {
  padding-top: 83px;
  padding-bottom: 77px;
  width: 80%;
  margin: auto;
}
.front-page-services-section .field--name-field-ser {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.front-page-services-section .field--name-field-ser > .field__item {
  width: 30%;
}
.front-page-services-section .field--name-field-ser > .field__item .field--name-field-logo img {
  max-width: 100%;
  width: 60px;
  height: 60px; 
}
.view-testimonials-front-view .slick-next,
.view-top-picks-for-you .slick-next {
  right: 0;
}
.view-testimonials-front-view .slick-prev,
.view-top-picks-for-you .slick-prev {
  left: 0;
}
#block-frontmainbanner .field--name-body img {
  max-width: 100%;
}